<%- include('../../partials/head') %>

    <body class="d-flex flex-column vh-100">
        <%- include('../../partials/header') %>
            <div class="container">
                <div class="row">
                    <div class="container col-md-4">
                        <div class="card mt-3 mb-3">
                            <img src="<%= campground.image %>" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= campground.title %>
                                </h5>
                                <p class="card-text">
                                    <%= campground.description %>
                                </p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <%= campground.location %>
                                </li>
                                <li class="list-group-item">
                                    <%= campground.price %>
                                </li>
                            </ul>
                            <div class="card-body d-flex">
                                <a href="/campgrounds" class="btn btn-success me-1">Back</a>
                                <a href="/campground/<%= campground._id %>/edit" class="btn btn-info me-1">Edit</a>
                                <form action="/campground/<%= campground._id %>?_method=DELETE" method="post">
                                    <button class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                            <div class="card-footer">
                                2 days ago
                            </div>
                        </div>
                    </div>
                    <div class="container col-md-8">
                        <h2>Edit your review</h2>
                        <form action="/campground/<%= campground._id %>/review/<%= review._id %>?_method=PUT" novalidate
                            method="POST" class="review-form">
                            <div class="mb-3">
                                <input type="text" id="name" class="form-control" name="name" autocomplete="off"
                                    placeholder="Your name" value="<%= review.name %>" required>
                                <div class="invalid-feedback">* Required</div>
                            </div>
                            <div class="mb-3">
                                <div class="input-group">
                                    <textarea class="form-control" placeholder="Leave a review here" id="review"
                                        name="review" required><%= review.review %></textarea>
                                    <div class="invalid-feedback">* Required</div>
                                </div>
                            </div>
                            <button class=" btn btn-primary mb-3">Edit your review</button>
                        </form>

                    </div>
                </div>
            </div>
            <%- include('../../partials/footer') %>
    </body>

    </html>

    <script>
        (() => {
            'use strict'
            const forms = document.querySelectorAll('.review-form')
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>